<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('partials/head', {title: 'Editando: ' + '¿?'}) %>

<body>
	<!-- Header -->
	<%- include('partials/headerNavbar') %>
	<br></br><br></br><br></br><br></br><br></br><br></br></br>
	<!-- /todos los productos -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title" alt="Responsive image">Estas Editando: <%= product.name %> </h2>
			</div>
		</div>	
		<div class="col-12">
			<form action="/products/edit/<%= product.id %>" id="formprod" method="POST"enctype="multipart/form-data">
				<div class="row product-detail">
					<div class="col-12 col-md-6">
						<!-- con la propiedad value los campos ya vienen completos, listos para editar: value= <%= product.name %>  -->
						<label for="name" class="form-label">Nombre del producto:</label>
						<input type="text" id="name" name="name" placeholder="Ej: Shampoo Solido" class="form-input" value= <%= product.name %>>
						<small id="errorName"class="text-alert"></small>
					</div>
					<div class="col-12 col-md-6">
						<label for="price" class="form-label">Precio del producto:</label>
						<input type="text" id="price" name="price" placeholder="Ej: 670" class="form-input" value= <%= product.price %>>
					</div>
					
					<div class="col-12">
						<label for="description" class="form-label">Descripción:</label>
						<textarea name="description" id="description" class="form-input"><%= product.description %></textarea>
						<small id="errorDescripcion"class="text-alert"></small>
					</div>
					<div class="form-group">
						<label for="image"></label>
						<input type="file" class="form-control-file" id="image" name="image">
					  </div>
					<div class="col-12">
						<button type="submit" class="buy-now-button">Guardar producto</button>
					</div>
				</div>
				
			</form>
		</div>

	</div>

	<!-- footer -->
	<%- include('partials/footer') %>

	<script src="/js/productValidator.js"></script>
</body>	
</html>