<!DOCTYPE html>
<html lang="es">
       <!-- Include Head -->
<%- include('partials/head', {title: 'Crear cuenta'}) %>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crear cuenta</title>
</head>
<body>
    <!-- Header -->
    <%- include('partials/headerNavbar') %>
    <br></br><br></br><br></br><br></br><br></br><br></br></br><br>

    <form class="container-login" action="" id="formulario" method="post" enctype="multipart/form-data">
        <h2 class="msg">CREAR CUENTA</h2>
        <br>
        <div class="row">
           <div class="col-12 col-sm-6">
            <label for="nombre" class="form-label">NOMBRE:</label>
            <input type="text" class="form-control" name="name" id="nombre">
            <small class="text-danger"><%= (typeof errores != "undefined"&& errores.name) ? errores.name.msg:"" %></small>
            <small id="errorNombre"class="text-alert"></small>
            <br>
            <label for="email" class="form-label">EMAIL:</label>
            <input type="email" class="form-control" name="email" id="email">
            <small class="text-danger"><%= (typeof errores != "undefined"&& errores.email) ? errores.email.msg:"" %></small>
            <small id="errorEmail"class="text-alert"></small>
            <br>
            <label for="password" class="form-label">CONTRASEÑA</label>
            <input type="password" class="form-control"name="password" id="password" placeholder="Hasta 12 caracteres">  
            <small class="text-danger"><%= (typeof errores != "undefined"&& errores.password) ? errores.password.msg:"" %></small>
            <small id="errorPassword"class="text-alert"></small>
            <br>
            <label for="repassword" class="form-label">CONFIRMAR CONTRASEÑA</label>
            <input type="password" class="form-control" id="repassword" name="repassword" placeholder="Confirme su contraseña">  

            <form>
                <div class="form-group">
                  <label for="avatar"></label>
                  <input type="file" class="form-control-file" id="avatar" name="avatar">
                </div>
            </form>

            <br>
            <button type="submit" class="btn-1 btn-primary btn-lg btn-block">Iniciar Sesion</button> 
         
          </div>
        
        </div>
      
    </form>
        
 <!-- Footer -->
 <%- include('partials/footer') %>

 <script src="/js/registerValidator.js"></script>
</body>

</html>